.wrapper {
	display: grid;
	grid-template-columns: 33% 33% 33%;

}

.box {
	background-size: 100%;
	height:100px; 
	width:100px;
	border: 1px solid black;
	background-image: url(sleepy.png);
}

.woke {
	background-size: 75%;
	height:100px; 
	width:100px;
	border: 1px solid black;
	background-image: url(https://media.giphy.com/media/aKrTvuOv4hlKM/source.gif);
}