.wrapper {
	display: grid;
	grid-template-columns: 33% 33% 33%;
}

.hole {
	background-size: 75%;
	height:100px; 
	width:100px;
	border: 1px solid black;
	background-size: 100px;
	background-image: url(hole.jpg);
}

.mole {
	background-size: 75%;
	height:100px;
	max-width: 100px;
	max-height: 100px;
	width:100px;
	border: 1px solid black;
	background-size: 100px;
	background-image: url(mole.jpg);
}