.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.box {
	height:200px; 
	width:200px;
	border: 1px solid black;
	background-image: url(sleepy.png);
}

.woke {
	height:200px; 
	width:200px;
	border: 1px solid black;
	background-image: url(angry.jpg);
}